*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
body{
    
    margin: 0% !important;
}
.header{
    background-color: #5A0
}

.copyright{
    background-color: #262626;
}
.background-primario{
    background-color: #262626;
}
.background-secundario{
    background-color: #f25c05;
}
